body {
  background-color: #0a0a7f;
}

#sp-ui-container {
  text-align: center;
  transition: opacity .25s ease-in-out;
}

#sp-ui-container.sp-fadeout {
  opacity: 0;
}

#sp-authentication-ui {
  width: 500px;
  height: 300px;
  overflow: hidden;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  max-width: 100%;
  max-height: 100%;

  background-color: white;

  border: 5px solid #ffe066;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #393939;
}

#sp-authentication-ui.sp-fade-out {
  opacity: 0;
}

#sp-login-container {
  display: block;
  width: 50%;
  margin: 25px auto;
  text-align: left;
}

#sp-authentication-title {
  border-bottom: 2px solid #ffe066;
}

#sp-authentication-title>h1,
#sp-authentication-title>h2,
#sp-authentication-title>h3,
#sp-authentication-title>h4 {
  margin-bottom: 20px;
}

#sp-login-password {
  width: 100%;
  margin: 5px auto;

  outline: none;
  border: 1px solid #ddd;
  transition: all 0.30s ease-in-out;
}

#sp-login-password:focus {
  box-shadow: 0 0 5px #ffe059;
  border: 1px solid #ffe059;
}

#sp-login-button {
  width: 100%;
  margin: 5px auto;
  color: white;
  font-weight: bold;
}

#sp-login-error {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  position: relative;
  bottom: 15px;
}

#sp-login-error.sp-fadein {
  opacity: 1;
}

#sp-error-message {
  color: #d40000;
  font-weight: bold;
  font-size: 13pt;
}

#sp-login-info {
  position: relative;
  bottom: 5px;
}

#sp-info-message {
  font-size: 13pt;
}

#sp-content {
  opacity: 0;
  transition: all .25s ease-in-out;
}

#sp-content.sp-fadein {
  opacity: 1;
}

#sp-ui-container .ds-logo {
  position: relative;
  margin: auto;
  transform: perspective(1px) translateY(30%);
}

@media screen and (max-width: 395px) {
  #sp-authentication-ui {
    height: 350px;
  }
}

@media screen and (max-height: 870px) {
  #sp-ui-container .ds-logo {
    transform: perspective(1px) translateY(20%);
  }
}

@media screen and (max-height: 800px) {
  #sp-ui-container .ds-logo {
    transform: perspective(1px) translateY(10%);
  }
}

@media screen and (max-height: 750px) {
  #sp-ui-container .ds-logo {
    margin-top: 5%;
  }

  .ds-logo {
    width: 200px;
    height: 100px;
  }

  .ds-logo::before,
  .ds-logo::after {
    font-size: 45pt;
    padding-top: 8px;
    border-width: 5px;
  }

  .ds-logo > .ds-logo__ampersand {
    display: none;
  }
}

@media screen and (max-height: 600px) {
  #sp-ui-container .ds-logo {
    margin-top: 0;
  }
}

@media screen and (max-height: 530px) {
  .ds-logo {
    width: 150px;
    height: 75px;
  }

  .ds-logo::before,
  .ds-logo::after {
    font-size: 30pt;
    border-width: 3px;
  }
}

#sp-loading-container.sp-hide {
  display: none;
}

/* See http://tobiasahlin.com/spinkit/ */

#sp-loading-spinner {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#sp-loading-spinner .sp-loading-spinner__bounce-1,
#sp-loading-spinner .sp-loading-spinner__bounce-2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  width: 200px;
  width: 50vmin;
  height: 200px;
  height: 50vmin;

  border-radius: 50%;
  background-color: #ffe059;
  opacity: 0.6;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

#sp-loading-spinner .sp-loading-spinner__bounce-2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
